Repository pbrucla/cyber-instancer: changes, and which pre-commit hooks are due for each by the changed paths.
All: tsc, tsc-vite-config

tsc:
  name: tsc
  language: node
  entry: tsc -p frontend/tsconfig.json --noEmit
  pass_filenames: false
  additional_dependencies:
  - '@types/react@18.0.28'
  - '@types/react-dom@18.0.11'
  - typescript@5.0.2

tsc-vite-config:
  name: tsc-vite-config
  language: node
  entry: tsc -p frontend/tsconfig.node.json --noEmit
  pass_filenames: false
  additional_dependencies:
  - typescript@5.0.2

fix services for challs with no exposed ports
  backend/instancer/backend.py
  fixture.sql
Due: none

Set expiration time for cached list of all challs
  backend/instancer/backend.py
Due: none

split services into two for hybrid containers
  backend/instancer/backend.py
Due: none

Implement basic challenge(s) api responses
  backend/instancer/api/challenge.py
  backend/instancer/api/challenges.py
  backend/instancer/backend.py
Due: none

add navbar
  .vite/deps_temp_02f2939c/package.json
  .vite/deps_temp_d9f35bfb/package.json
  .vite/deps_temp_e95e8539/package.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/challs.tsx
  frontend/src/home.tsx
  frontend/src/images/home.svg
  frontend/src/index.css
  frontend/src/index.tsx
  frontend/src/logo.svg
  frontend/src/styles/challs.css
  frontend/src/styles/home.css
  frontend/src/styles/index.css
  frontend/tsconfig.json
  frontend/vite.config.ts
Due: tsc, tsc-vite-config

fix paths
  frontend/src/chall.tsx
  frontend/src/profile.tsx
  frontend/src/register.tsx
Due: tsc

ignore register btn for now
  frontend/src/index.tsx
Due: tsc

create skeleton for challenges page
  frontend/src/challs.tsx
  frontend/src/data/challs.ts
  frontend/src/images/filter.svg
  frontend/src/index.tsx
  frontend/src/styles/challs.css
Due: tsc

fix css
  frontend/src/styles/index.css
Due: none

Re-run python code formatting; simplify is_running()
  backend/instancer/api/challenges.py
  backend/instancer/backend.py
Due: none

Fix challenge API endpoint
  backend/instancer/api/challenge.py
Due: none

Make API response formats more consistent
  backend/instancer/api/challenge.py
  backend/instancer/api/challenges.py
  backend/instancer/backend.py
Due: none

removed .vite directory and added to .gitignore
  .gitignore
  .vite/deps_temp_02f2939c/package.json
  .vite/deps_temp_d9f35bfb/package.json
  .vite/deps_temp_e95e8539/package.json
Due: none

Prevent user termination of shared challenges
  backend/instancer/api/challenge.py
  backend/instancer/backend.py
Due: none

fixed css with navbar
  frontend/src/styles/chall.css
  frontend/src/styles/home.css
  frontend/src/styles/info-box.css
Due: none

layout for chall page upon landing
  frontend/src/challs.tsx
  frontend/src/data/challs.ts
  frontend/src/styles/challs.css
  frontend/src/styles/index.css
Due: tsc

fix chrome viewing issues
  frontend/src/styles/challs.css
  frontend/src/styles/index.css
Due: none

Fix type error
  backend/instancer/backend.py
Due: none

Remove unnecessary metaclass assignment
  backend/instancer/backend.py
Due: none

Make API error responses consistent
  backend/instancer/api/challenge.py
Due: none

Add more information to error responses
  backend/instancer/api/__init__.py
Due: none

added dyanmic challenge routing
  frontend/src/chall.tsx
  frontend/src/data/challs.ts
  frontend/src/index.tsx
  frontend/src/styles/chall.css
  frontend/src/styles/challs.css
Due: tsc

challenge pages now pull data from chall.ts
  frontend/src/chall.tsx
  frontend/src/challs.tsx
  frontend/src/data/challs.ts
Due: tsc

added different buttons on chall page
  frontend/src/chall.tsx
  frontend/src/styles/chall.css
Due: tsc

fix lint issues, add svgs
  frontend/src/chall.tsx
  frontend/src/challs.tsx
  frontend/src/images/stop.svg
  frontend/src/images/timer.svg
Due: tsc

Fix Redis error when quering expired challenges
  backend/instancer/backend.py
Due: none

Simplify API port mapping format
  backend/instancer/api/challenge.py
Due: none

added svgs to deployed button
  frontend/src/chall.tsx
  frontend/src/styles/chall.css
Due: tsc

fixed incorrectly sized home button svg
  frontend/src/chall.tsx
  frontend/src/styles/chall.css
Due: tsc

Implement account login system
  README.md
  backend/instancer/api/account.py
  backend/instancer/config.py
  backend/requirements.txt
  config.example.yml
  fixture.sql
Due: none

added cards for IPs/ports of challenges
  frontend/src/chall.tsx
  frontend/src/styles/chall.css
Due: tsc

i forgot to commit - IP/port data type
  frontend/src/data/challs.ts
Due: tsc

Allow manually generated users to generate information via GET /profile
  backend/instancer/api/account.py
Due: none

Prevent errors when PATCH /profile with already exiting username/email
  backend/instancer/api/account.py
Due: none

Run pre-commit formatter on all files
  README.md
  backend/requirements.txt
  config.example.yml
Due: none

Fixes timestamp in key generation and fixes key validation
  backend/instancer/api/account.py
Due: none

Update account.py documentation
  backend/instancer/api/account.py
Due: none

added a test API call to chall.tsx
  frontend/src/chall.tsx
  frontend/src/styles/chall.css
Due: tsc

update readme with more kube info
  README.md
Due: none

create skeleton for filter system sidebar UI
  frontend/src/challs.tsx
  frontend/src/filterbar.tsx
  frontend/src/styles/challs.css
  frontend/src/styles/filterbar.css
Due: tsc

Path conditions:
  tsc: any of: ^frontend/src/.*\.tsx?$
  tsc-vite-config: any of: ^frontend/vite\.config\.ts$
